<h2 class="mainTitle"> Crazy Restaurant </h2>
<section class="orders">
  <h3 class="subTitle">Make Order</h3>
  <form action="/orders" method="post">
    <div >
      <% @parties.each do |party| %>
        <input name="party_id" type="checkbox" value="<%= party.id %>">
          <%= party.table_number %>
        </input>
      <% end %>
    </div>
    <div>
      <% @inventory_items.each do |inventory_item| %>
        <input name="inventory_items[]" type="checkbox" value="<%= inventory_item.id %>">
          <!-- <input class="inputQuantity" type="text"></input> -->
          <%= inventory_item.name %>
        </input>
      <% end %>
    </div>
    <input type="submit" value="ORDER!">
  </form>

  <div>
    <h3 class="subTitle">Display Order</h3>
  </div>

</section>

<section class="parties">
  <h3 class="subTitle"> Parties </h3>
  <form action="/parties" method="post">
    <input type="text" name="party[table_number]" placeholder='...table number'>
    <input type="text" name="party[number_of_guests]" placeholder='...number of guests'>
    <input class="mainButton" type="submit" value="Create Party">
  </form>
  <ul>
    <% @parties.each do |party| %>
      <li class="partyList">
      <div> table number: <%= party.table_number %> </div>
      <div> number of guests:  <%= party.number_of_guests %></div>
      <form action="/parties/<%= party.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="mainButton" type="submit" >Remove</button>
      </form>
      </li>
    <% end %>
  </ul>
</section>

<section class="inventoryItems">
  <h3 class="subTitle"> Inventory Items </h3>
  <form action="/inventory_items" method="post">
    <input class="inventoryInput" type="text" name="inventory_item[name]" placeholder='...name'>
    <input class="inventoryInput" type="text" name="inventory_item[cuisine_type]" placeholder='...cuisine type'>
    <input class="inventoryInput" type="text" name="inventory_item[nutritional_value]" placeholder='...nutritional_value'>
    <input class="inventoryInput" type="text" name="inventory_item[description]" placeholder='...description'>
    <input class="mainButton" type="submit" value="Request Item!">
  </form>
  <ul>
    <% @inventory_items.each do |inventory_item| %>
      <li class="inventoryList">
        <div> item name:  <%= inventory_item.name %>
        <div> cuisine type:  <%= inventory_item.cuisine_type %>
        <div> nutritional value:  <%= inventory_item.nutritional_value %>
        <div> item description:  <%= inventory_item.description %>
        <form action="/inventory_items/<%= inventory_item.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="mainButton" type="submit" >Remove</button>
        </form>
      </li>
    <% end %>
  </ul>
</section>
